export TMDB_API_KEY=your_actual_key_here
export KAFKA_BROKERS=localhost:9092
export REDIS_ADDR=localhost:6379
export REDIS_PASSWORD=
export REDIS_DB=0
export RIP_CACHE=/mnt/cache/rips/%s
export CONVERT_CACHE=/mnt/cache/convert/%s
export MEDIA_STORAGE_CONTEXT=/mnt/media1,/mnt/media2
export MONGO_ROOT_USERNAME=root
export MONGO_ROOT_PASSWORD=change-me
export MONGO_DB_URI=uri
export MONGO_DATABASE=bluray_ripper